@page
@model Portfolio.Pages.PortfolioModel
@{
    ViewData["Title"] = "Portfolio";
}

<div class="text-center">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/Imagens/ProjetoFX.png" class="d-block w-100" alt="primeiro">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-dark">Sistema FX</h5>
                    <p class="text-dark">Projeto Integrado para Empresa que atualmente eu trabalho, para que facilite a entrada e saída de Materias, Fonecedores, Patrimonios, Usuarios e Departamentos.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/Imagens/AquosAPI.png" class="d-block w-100" alt="segundo">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-dark ">Projeto AquosAPI</h5>
                    <p class="text-dark mb-2">Projeto Integrado Para o FX em que com muita felicidade acabei participando desse projeto, 
                        <br>Está é a API do Sistema ela que manda todas as informações para o FX.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/Imagens/Projeto2.png" class="d-block w-100" alt="terceiro">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-white">Pro TI Solutions</h5>
                    <p class="text-white">Esse foi mais um projeto da faculdade cujo tivemos que desenvolver nossa propria empresa de TI.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
