@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>

<div class="card-body text-center" style="width: 18rem;">
    <img src="~/Imagens/foto-menu.jpg" class="card-img-top" alt="logo" style="height: 200px;">
    <div class="card-body">
        <h5 class="card-title">Contato</h5>
        <p class="card-text">
            <br>Celular: (11) 94222-9987
            <br>Email: guuvilela08@gmail.com
        </p>
        <a href="https://github.com/guvilela09?tab=overview&from=2023-03-01&to=2023-03-31"><i class="bi bi-github" style="font-size: 2rem; color: grey;"></i></a>
        <a href="https://www.linkedin.com/in/gustavo-vilela-46440b242/"><i class="bi bi-linkedin" style="font-size: 2rem;"></i></a>
    </div>
</div>