@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contato";
}

<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 20rem;">
    <img src="~/Imagens/logo GV.jpeg" class="card-img-top rounded-circle" alt="logo" style="height: 200px;">
    <div class="card-body">
        <h5 class="card-title text-center">Contato</h5>
        <p class="card-text">
            <i class="bi bi-phone-fill text-dark">Celular: (11) 94222-9987</i>
            <br>
            <i class="bi bi-envelope-fill text-dark">Email: guuvilela08@gmail.com</i>
        </p>

        <footer class="bg-body-tertiary text-center">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <section class="mb-4">
                    <!-- Linkedin -->
                    <a data-mdb-ripple-init
                       class="btn text-white btn-floating m-1"
                       style="background-color: #0082ca;"
                       href="https://www.linkedin.com/in/gustavo-vilela-46440b242/"
                       role="button">
                        <i class="bi bi-linkedin" style="font-size: 2rem;"></i>
                    </a>
                    <!-- Github -->
                    <a data-mdb-ripple-init
                       class="btn text-white btn-floating m-1"
                       style="background-color: #333333;"
                       href="https://github.com/guvilela09?tab=overview&from=2023-03-01&to=2023-03-31"
                       role="button">
                        <i class="bi bi-github" style="font-size: 2rem;"></i>
                    </a>
                </section>
            </div>
        </footer>
    </div>
</div>