@page
@model Portfolio.Pages.SobreMimModel
@{
    ViewData["Title"] = "Sobre Mim";
}

<header>
    <!-- Background image -->
    <div id="intro"
         class="bg-image"
         style="
              background-image: url(https://wallpapers.com/images/high/technology-pictures-oekba1xdvgzouxlv.webp);
              height: 600px;
              ">
        <div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.8)">
            <div class="container d-flex align-items-center text-center h-100">
                <div>
                    <h1 class="mb-5">Sobre Mim!</h1>
                    <p>
                        Sou responsável, ético, respeitoso,
                        dinâmico, comunicativo, organizado,
                        sociável e empático.
                        Tenho experiência em resolução de
                        conflitos.
                        Bom relacionamento e fácil de dialogar
                        em equipe, propiciando a qualidade do
                        trabalho.
                        Atento quanto às necessidades dos
                        funcionários e convidados.
                        Interesse em crescer profissionalmente,
                        buscando aprofundar meus
                        conhecimentos e através das
                        experiencias do próprio trabalho.
                        Acredito que a vaga que estou
                        concorrendo é uma grande oportunidade
                        para o desenvolvimento de muitas
                        habilidades e crescimento profissional.
                    </p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-lg d-grid gap-5 col-3 mx-auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Clique Aqui
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
    <!--Main Navigation-->

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Sobre Mim!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-dark-emphasis">
                        Atualmente, aplico minhas habilidades práticas como Suporte Técnico Waldesa Oficial. Com uma forte base em C# , .NET, Razor e gestão de bases de dados MySQL,
                        estou comprometido em desenvolver soluções tecnológicas eficazes e inovadoras.
                        Trabalhar com tecnologia é mais do que uma profissão para mim; é um campo onde posso contribuir significativamente e colaborar para o avanço do setor.
                        Minha experiência na Movebuss Soluções em Mobilidade Urbana Ltda. fortaleceu minha capacidade de trabalhar em equipe e adaptar-me rapidamente a novos desafios, preparando-me para impactar positivamente projetos futuros.
                    </p>
                </div>
                <div class="modal-footer py-3">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</header>

